<h1>Dependencies</h1>

<div class="row" ng-show="graphElements && graphElements.length != 0" >
    <div class="col-md-12" id="graph"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <i class="fa fa-columns"></i> <strong>Columns</strong>
        <!--<ui-multiselect options="typeProperties(type)" affected-list="visiblePropsByType[type]"></ui-multiselect>-->

        <table class="table table-condensed table-hover displayTable">
            <thead>
                <tr>
                   <th>#</th>
                   <th>rev</th>
                   <th ng-repeat="key in artifactProperties" style="white-space:nowrap">
                       <span ng-click="$parent.setOrdering(key)">
                           <i ng-if="ordering == key && reverse" class="fa fa-sort-down"></i>
                           <i ng-if="ordering == key && !reverse" class="fa fa-sort-up"></i>
                           <i ng-if="ordering != key" class="fa fa-sort"></i>
                           {{key}}
                       </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vertex in graphElements | orderBy:ordering:reverse">
                    <td>{{vertex.index}}</td>
                    <td style="white-space:nowrap" ng-repeat="key in artifactProperties">
                        <span data-toggle="tooltip" data-placement="top" title="{{key}}">{{vertex[key]}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4 ng-if="errors" ng-repeat="error in errors" class="text-danger">{{error}}</h4>
    <h4 ng-if="graphElements.length == 0" class="text-info">No results found</h4>
</div>