<h1>Gremlin Console</h1>
<form role="form" class="form-horizontal">
    <div class="form-group" style="float:right;margin-top:-70px">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="limitEnabled" style="height:26px">Limit to
                <input type="text" class="form-control " ng-model="limit" style="width:100px;display:inline"/><span style="height:34px"> results per page</span>
            </label>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12" style="border:1px solid gray">
        <table style="width:100%">
            <tr>
                <td style="vertical-align:top;padding-top:1px"><strong>g.V<span ng-if="command">.</span></strong></td>
                <td style="width:100%">
                    <textarea ui-codemirror model="command" on-enter-key="query()" on-up-key="previousQuery()"
                            on-down-key="nextQuery()"></textarea>
                </td>
                <td>
                    <a class="sendIt" ng-click="query()" style="cursor:pointer"><i class="fa fa-paper-plane"></i></a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="margin-top:15px" ng-show="!queryPending">
    <span ng-if="graphElements">Displaying results <strong>{{start + 1}}</strong> to <strong>{{start + graphElements.length}}</strong></span>
    <a ng-if="start > 0" style="cursor:pointer" ng-click="previousPage()">[Previous Page]</a>
    <a ng-if="hasNextPage" style="cursor:pointer" ng-click="nextPage()">[Next Page]</a>
</div>

<div ng-show="graphElements && graphElements.length != 0">
    <strong>Legend: </strong>
    <span ng-repeat="legend in typeLegend">
        <i class="fa fa-square" style="color:{{legend.color}}"></i> {{legend.type}}<span ng-if="!$last">, </span>
    </span>
</div>

<div class="row" ng-show="graphElements && graphElements.length != 0" >
    <div class="col-md-12" id="graph"></div>
</div>

<div class="row">
    <div class="col-md-12" ng-repeat="type in graphElements | groupBy: 'label'">
        <h3>{{type}}</h3>

        <i class="fa fa-columns"></i> <strong>Columns</strong>
        <ui-multiselect options="typeProperties(type)" affected-list="visiblePropsByType[type]"></ui-multiselect>

        <div style="float:right">
            <i class="fa fa-clipboard"></i> <strong>Download as</strong>
            <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="exportToCsv(type)">CSV</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span class="sr-only">toggle dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="exportToCsv(type)" style="cursor:pointer">CSV</a></li>
                    <li><a ng-click="exportToTsv(type)" style="cursor:pointer">TSV</a></li>
                </ul>
            </div>
        </div>

        <table class="table table-condensed table-hover displayTable">
            <thead>
                <tr>
                   <th>#</th>
                   <th>rev</th>
                   <th ng-repeat="key in visiblePropsByType[type]" style="white-space:nowrap">
                       <span ng-click="$parent.setOrdering(type, key)">
                           <i ng-if="orderingByType[type] == key && reverseByType[type]" class="fa fa-sort-down"></i>
                           <i ng-if="orderingByType[type] == key && !reverseByType[type]" class="fa fa-sort-up"></i>
                           <i ng-if="orderingByType[type] != key" class="fa fa-sort"></i>
                           {{key}}
                       </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vertex in graphElements | filter: {label: type} | orderBy:orderingByType[type]:reverseByType[type]">
                    <td>{{vertex.indexLabel}}</td>
                    <td style="white-space:nowrap">{{vertex.streamRevision}}</td>
                    <td style="white-space:nowrap" ng-repeat="key in visiblePropsByType[type]">
                        <span data-toggle="tooltip" data-placement="top" title="{{key}}">{{vertex[key]}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h4 ng-if="errors" ng-repeat="error in errors" class="text-danger">{{error}}</h4>
    <h4 ng-if="graphElements.length == 0" class="text-info">No results found</h4>
    <h4 ng-if="queryPending"><i class="fa fa-spinner fa-spin" style="font-size:16pt"></i> Running query</h4>
</div>